

.extraDataContainer{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    
    height: 100%;
    width: 100%;
}


.cancelButton{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    background-color: rgb(244, 108, 108);
}

.extraInfoHeader{
    font-size: 20px;
    text-align: left;
    margin:0;
    margin-top: 5px;
    margin-left: 10px;
}

label{
    font-size: 24px;
}