

.extraDataContainer{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: inline-block;
    position: relative;
    float: right;
    height: 750px;
    width: 400px;
    top:-500px;
    overflow-y: auto;
}


.cancelButton{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    background-color: rgb(244, 108, 108);
}