.dataContainer{
    height: 92%;
    width: 63%;
    min-width: 300px;
    position: absolute;
    left: 15%;
    top: 3%;
    display: inline-block;
    overflow-y: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: rgba(0, 223, 239, 0.689);
}

.dayContainer{
    position: relative;
    display: inline-block;
    align-items: center;
    height: 400px;
    width: 250px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: aquamarine;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 100, 100);
}

.dayContainer:hover {
    background-color: rgba(1, 58, 13, 0.558);
    transition: 0.2s;
    cursor: pointer;
  }



.dayGeneralWheather{
    text-align: center;
    margin-bottom: 10px;
}

.dayDate{
    text-align: center;
}

.dayText{
    font-weight: bold;
    text-align: center;
}



.location{
    font-size: 50px;
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.slideValueContainer{
    margin-top: -20px;
    margin-bottom: 20px
}

.slidecontainer {
    width: 80%; 
    text-align: center;
    border-radius: 15%;
  }
  
  .slider {
    width: 100%; 
    height: 40px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    cursor: pointer; 
  }
  .showThreeDays{
    float: right;
    position: relative;
    font-size: large;
    display: block;
    margin-right: 100px;
    top: 50px;
    margin-top:10px;
    margin-bottom: 30px;
    width: 150px;
    height: 70px;
    border-radius: 10%;
    border-color: rgb(30, 255, 165);
    background-color: rgb(20, 239, 0);

}

.showThreeDays:hover{
    background-color: rgb(7, 150, 71);
    transition: 0.2s;
    cursor: pointer;
}

  
  


.welcomeContainer{
    position: relative;
    text-align: center;
    width: 100%;
    height: 50%;
}

.weclomeButtonsContainer{

}

.weclomeButtonsContainer button{
    left: 35%; 
    height: 110px;
    width: 200px;
    display: inline-block;
}
.welcomeMessage{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 40%;
    width: 40%;
    height: 10%+150px;
    border-radius: 20%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color: rgba(0, 223, 239, 0.689);
}



.weatherIcon{
    width: 200px;
}

.weatherIconContainer{
    margin-bottom: -10px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    width: 200px;
    height: 200px;
    border: solid;
  border-color: black;
  background-color: aliceblue;
    display: inline-block;
}


@media only screen and (max-width: 700px) {
    .dataContainer{
        height: 80%;
        width: 45%;
        min-height: 400px;
        max-height:700px;
        min-width: 270px;
        position: relative;
        right: 15px;
        left: 0px;
        bottom: 200px;
        float: right;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        background-color: rgba(0, 223, 239, 0.689);
    }

 
    .dayContainer{
        position: relative;
        display: inline-block;
        align-items: center;
        height: 380px;
        width: 80%;
        margin-left: 25px;
        margin-top: 25px;
        background-color: aquamarine;
        border-radius: 10%;
        border-style: solid;
        border-width: 3px;
        
        border-color: rgb(0, 100, 100);
    }

    .dayText{
        font-size: small;
    }

    .dataShow{
        
        justify-content: center;
    }



    .welcomeContainer{
        position: relative;
        text-align: center;
        width: 100%;
        min-height: 750px;
        height: 100%;
    }

    .weclomeButtonsContainer button{
        left: 35%; 
        height: 110px;
        display: inline-block;
    }

    .weclomeButtonsContainer{
        height: 400px;
    }
    .welcomeMessage h1{
        display: inline-block;
        margin-top: 20px;
        left: 40%;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }
    .welcomeMessage h2{
        display: inline-block;
        margin-top: 20px;
        left: 40%;
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    .slidecontainer{
        margin-right: 0;
        display: inline;
    }
    .slidecontainer h4{
        margin-bottom: 0;
    }

    .location{
        font-size: large;
        text-align: center;
        width: 100%;
        margin: 0%;
    }
    .location h1{
        margin: 0%;
    }
    .showThreeDays{
        position: relative;
        font-size: large;
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        left: 0%;
        top: 5%;
        height: 70px;
        float: none;
    
    }
  }
