.App{
  background-blend-mode: lighten;
  overflow: hidden;
  display:flow-root;
}


.extraData{
    height: 60%;
    min-height: 700px;
    width: 20%;
    min-width: 350px;
    margin-right: 1%;
    float: right;
    position: relative;
    top:-500px;
}


@media only screen and (max-width: 700px) {
  .App{
    background-color:"rgba(100, 100, 0, .5)";
    overflow: hidden;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    max-width: 700px;
    
  }
  .extraData{
    pointer-events: none;
    height: 90%;
    min-height: 600px;
    width: 80%;
    top:5%;
    left: 10%;
    float: left;
    position: absolute;
  }
}


