.App{
  background-color:"rgba(100, 100, 0, .5)";
  overflow: hidden;
  scrollbar-width: none;
  height: 80%;
  width: 100%;
}


.extraData{
    height: 750px;
    width: 425px;
    margin-right: 20px;
    float: right;
    position: relative;
    top:-500px;
    right: 20px;
}


