.App{
  background-color:"rgba(100, 100, 0, .5)";
  overflow: hidden;
  scrollbar-width: none;
  height: 120%;
  width: 100%;
}


.extraData{
    height: 60%;
    min-height: 700px;
    width: 20%;
    min-width: 350px;
    margin-right: 1%;
    float: right;
    position: relative;
    top:-500px;
}


@media only screen and (max-width: 700px) {
  .App{
    background-color:"rgba(100, 100, 0, .5)";
    overflow: hidden;
    scrollbar-width: none;
    height: 1500px;
    width: 100%;
    max-width: 700px;
  }
  .extraData{
    height: 80%;
    min-height: 700px;
    width: 20%;
    min-width: 290px;
    top:0px;
    float: left;
    position: relative;
  }
}


